.Course-card {
  width: 1000px;
  height: 290px;
  margin-bottom: 30px;
  margin-left: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background: white;
}

.Course-rect {
  width: 100%;
  display: flex;
}

.Course-info {
  flex: 0.7;
  margin-left: 20px;
  padding-right: 20px;
}

.Course-details {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}

.Course-button {
  width: 190px;
  height: 30px;
  margin-top: 10px;
  color: #f7f7f7;
  background: #007298;
  border-radius: 4px;
}

.Course-details-info {
  margin-top: 30px;
  height: 100px;
}
