.Courses {
  position: absolute;
  width: 1440px;
  height: 1176px;
  left: 0px;
  top: 83px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
